<section>
    <%- include('../partials/navbar'); %>
    <div class='spacer'></div> 


    <div class='purpleBox'>
        <div style="height: 500px;">
            <div>
                <a href=""><h3><%= Essay.title %></h3></a>
                    <h4><%= Essay.author %></h4>
            </div> 
            <div>
                <p><%= Essay.Collection_title %></p>
            </div>
            <br>
            <div>
            <p><%= Essay.body %></p>
        </div>
    </div>
    </div>

  
</section>